<a class="remind-link" ng-click="$ctrl.remind($event)" uib-tooltip="{{'REMINDER.REMIND_ASSIGNEES'|translate}}" ng-if="!$ctrl.isLarge() && !$ctrl.disabled" >
    <i class="fa fa-bell"></i>
</a>
<a class="remind-link" disabled="disabled" ng-if="!$ctrl.isLarge() && $ctrl.disabled" >
    <i class="fa fa-check"></i>
</a>

<a class="remind-button btn btn-danger" ng-click="$ctrl.remind($event)" ng-if="$ctrl.isLarge() && !$ctrl.disabled">
    <i class="fa fa-bell"></i> {{'REMINDER.REMIND_ASSIGNEES'|translate}}
</a>

<a class="remind-button btn btn-default" disabled="disabled" ng-if="$ctrl.isLarge() && $ctrl.disabled">
    <i class="fa fa-check"></i> {{'REMINDER.REMIND_ASSIGNEES'|translate}}
</a>
