<div class="approval-progress" ng-switch on="$ctrl.pullRequestProgress">
    <span class="label label-info" ng-if="$ctrl.reviewersCount" ng-switch-when="proportions">{{ $ctrl.progress.proportions }}</span>
    <span class="label label-info" ng-if="$ctrl.reviewersCount" ng-switch-when="percent">{{ $ctrl.progress.percentage }}</span>

    <div class="progress" ng-switch-when="progress_bar" ng-if="$ctrl.reviewersCount">
        <div class="progress-bar progress-bar-striped active" ng-style="{'width': $ctrl.progress.percentage }"></div>
    </div>

    <span class="label label-danger" ng-if="!$ctrl.reviewersCount">
        <i class="fa fa-times-circle fa-inverse icon-no-assigned" uib-tooltip="{{ 'APPROVAL_PROGRESS.NO_ASSIGNEES' | translate }}"></i>
    </span>
</div>
