@import '_variables';

body {
    padding-top: 50px;
    font-family: 'Titillium Web', sans-serif;

    .navbar-default {
        background-color: @darkBlue;
        border-color: @darkerBlue;

        .navbar-brand {
            color: @white;
            font-weight: bold;
            font-size: @navbarFontSize;

            &:hover, &:focus {
                background-color: @lightBlue;
                color: @white;
            }
        }

        .navbar-text {
            color: @white;
        }

        .navbar-right {
            margin-right: 0;
        }
    }
}

.container {
    width: @popupWidth;
}

.icon-approved {
    color: @iconApprovedColor
}

.icon-unapproved {
    color: @iconUnapprovedColor;
}

.icon-waiting {
    color: @iconWaitingColor;
}
