<div class="row options">
    <div class="col-sm-12">
        <div class="row">
            <section-title icon="cogs">{{ 'OPTIONS.OPTIONS'|translate }}</section-title>
            <div class="col-sm-9">
                <div class="row">
                    <div growl></div>
                </div>
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="app-user" class="col-sm-3 control-label">{{ 'OPTIONS.USER.BITBUCKET_LOGIN'|translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="app-user" placeholder="{{ 'COMMON.EG_ABBR'|translate }} john.kowalsky" ng-model="$ctrl.options.appUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="socket-server-address" class="col-sm-3 control-label">{{ 'OPTIONS.USER.SOCKET_ADDRESS'|translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="socket-server-address" placeholder="{{'COMMON.EG_ABBR'|translate}} http://localhost:8888" ng-model="$ctrl.options.socketServerAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{'OPTIONS.PR_PROGRESS.TITLE'|translate}}</label>
                            <div class="col-sm-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="$ctrl.options.pullRequestProgress" value="proportions">
                                        {{'OPTIONS.PR_PROGRESS.PROPORTIONS'|translate}}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="$ctrl.options.pullRequestProgress" value="percent">
                                        {{'OPTIONS.PR_PROGRESS.PERCENTAGE'|translate}}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="$ctrl.options.pullRequestProgress" value="progress_bar">
                                        {{'OPTIONS.PR_PROGRESS.PROGRESS_BAR'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="$ctrl.examples.reviewers" mode="proportions"></approval-progress>
                                    </div>
                                </div>
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="$ctrl.examples.reviewers" mode="percent"></approval-progress>
                                    </div>
                                </div>
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="$ctrl.examples.reviewers" mode="progress_bar"></approval-progress>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{'OPTIONS.NOTIFICATIONS.TITLE'|translate}}</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{'OPTIONS.NOTIFICATIONS.NEW_PR'|translate}}</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="new-pull-request-sound" id="new-pull-request-sound" class="form-control"
                                        ng-model="$ctrl.options.newPullRequestSound" ng-options="sound.id as sound.label for sound in $ctrl.sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound($ctrl.options.newPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">{{'OPTIONS.NOTIFICATIONS.APPROVED_PR'|translate}}</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="approved-pull-request-sound" id="approved-pull-request-sound" class="form-control"
                                        ng-model="$ctrl.options.approvedPullRequestSound" ng-options="sound.id as sound.label for sound in $ctrl.sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound($ctrl.options.approvedPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">{{'OPTIONS.NOTIFICATIONS.MERGED_PR'|translate}}</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="merged-pull-request-sound" id="merged-pull-request-sound" class="form-control"
                                        ng-model="$ctrl.options.mergedPullRequestSound" ng-options="sound.id as sound.label for sound in $ctrl.sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound($ctrl.options.mergedPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">{{'OPTIONS.NOTIFICATIONS.REMINDER'|translate}}</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="reminder-sound" id="reminder-sound" class="form-control"
                                        ng-model="$ctrl.options.reminderSound" ng-options="sound.id as sound.label for sound in $ctrl.sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound($ctrl.options.reminderSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary btn-lg" id="submit" ng-click="$ctrl.saveOptions()">{{'OPTIONS.NOTIFICATIONS.SAVE'|translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <section-title icon="terminal">{{'OPTIONS.DEVELOPER_OPTIONS.TITLE'|translate}}</section-title>
                    <div class="col-sm-12">
                        <h3>{{'OPTIONS.DEVELOPER_OPTIONS.NOTIFICATIONS'|translate}}</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button id="assigned" ng-click="$ctrl.showNotification('assigned')" class="btn btn-primary">
                                {{'OPTIONS.DEVELOPER_OPTIONS.NEW_PR'|translate}}
                            </button>
                            <button id="approved" ng-click="$ctrl.showNotification('approved')" class="btn btn-primary">
                                {{'OPTIONS.DEVELOPER_OPTIONS.APPROVED_PR'|translate}}
                            </button>
                            <button id="merged" ng-click="$ctrl.showNotification('merged')" class="btn btn-primary">
                                {{'OPTIONS.DEVELOPER_OPTIONS.MERGED_PR'|translate}}
                            </button>
                            <button id="remind" class="btn btn-primary" ng-click="$ctrl.showNotification('remind')">
                                {{'OPTIONS.DEVELOPER_OPTIONS.REMINDER'|translate}}
                            </button>
                            <button id="updated" ng-click="$ctrl.showNotification('updated')" class="btn btn-primary">
                                {{'OPTIONS.DEVELOPER_OPTIONS.UPDATED_PR'|translate}}
                            </button>
                            <button id="commented" ng-click="$ctrl.showNotification('commented')" class="btn btn-primary">
                                {{'OPTIONS.DEVELOPER_OPTIONS.COMMENTED_PR'|translate}}
                            </button>
                            <button id="replied" class="btn btn-primary" ng-click="$ctrl.showNotification('replied')">
                                {{'OPTIONS.DEVELOPER_OPTIONS.REPLIED_PR'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
