<div class="row options">
    <div class="col-sm-12">
        <div class="row">
            <section-title icon="cogs">Options</section-title>
            <div class="col-sm-9">
                <div class="row">
                    <div growl></div>
                </div>
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="app-user" class="col-sm-3 control-label">Bitbucket username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="app-user" placeholder="e.g. john.kowalsky" ng-model="options.appUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="socket-server-address" class="col-sm-3 control-label">Socket server address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="socket-server-address" placeholder="e.g. http://localhost:8888" ng-model="options.socketServerAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Pull Request progress</label>
                            <div class="col-sm-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="options.pullRequestProgress" value="proportions">
                                        Proportions
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="options.pullRequestProgress" value="percent">
                                        Percentage
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="pull-request-progress" ng-model="options.pullRequestProgress" value="progress_bar">
                                        Progress bar
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="examples.reviewers" mode="proportions"></approval-progress>
                                    </div>
                                </div>
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="examples.reviewers" mode="percent"></approval-progress>
                                    </div>
                                </div>
                                <div class="radio">
                                    <div class="col-sm-12">
                                        <approval-progress reviewers="examples.reviewers" mode="progress_bar"></approval-progress>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Notification sounds</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">New pull request</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="new-pull-request-sound" id="new-pull-request-sound" class="form-control"
                                        ng-model="options.newPullRequestSound" ng-options="sound.path as sound.label for sound in sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound(options.newPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">Approved pull request</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="approved-pull-request-sound" id="approved-pull-request-sound" class="form-control"
                                        ng-model="options.approvedPullRequestSound" ng-options="sound.path as sound.label for sound in sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound(options.approvedPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">Merged pull request</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="merged-pull-request-sound" id="merged-pull-request-sound" class="form-control"
                                        ng-model="options.mergedPullRequestSound" ng-options="sound.path as sound.label for sound in sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound(options.mergedPullRequestSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <p class="form-control-static">Reminder</p>
                            </div>
                            <div class="col-sm-4">
                                <select name="reminder-sound" id="reminder-sound" class="form-control"
                                        ng-model="options.reminderSound" ng-options="sound.path as sound.label for sound in sounds"></select>
                            </div>
                            <div class="col-sm-1">
                                <a href="#" ng-click="playSound(options.reminderSound)" class="btn btn-primary">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary btn-lg" id="submit" ng-click="saveOptions()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <section-title icon="terminal">Developer options</section-title>
                    <div class="col-sm-12">
                        <h3>Notifications</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button id="assigned" ng-click="showNotification('assigned')" class="btn btn-primary">
                                Assigned
                            </button>
                            <button id="approved" ng-click="showNotification('approved')" class="btn btn-primary">
                                Approved
                            </button>
                            <button id="merged" ng-click="showNotification('merged')" class="btn btn-primary">
                                Merged
                            </button>
                            <button id="remind" class="btn btn-primary" ng-click="showNotification('remind')">
                                Remind
                            </button>
                            <button id="updated" ng-click="showNotification('updated')" class="btn btn-primary">
                                Update
                            </button>
                            <button id="commented" ng-click="showNotification('commented')" class="btn btn-primary">
                                Commented
                            </button>
                            <button id="replied" class="btn btn-primary" ng-click="showNotification('replied')">
                                Replied
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
