<div class="col-sm-12 pull-requests-header">
    <div class="row" ng-if="$ctrl.mode == 'AUTHORED'">
        <div class="col-sm-1">{{'PR_LIST.HEADER.ID'|translate}}</div>
        <div class="col-sm-4">{{'PR_LIST.HEADER.TITLE'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.PROJECT'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.AUTHOR'|translate}}</div>
        <div class="col-sm-1">{{'PR_LIST.HEADER.PROGRESS'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.ACTIONS'|translate}}</div>
    </div>
    <div class="row" ng-if="$ctrl.mode == 'ASSIGNED'">
        <div class="col-sm-1">{{'PR_LIST.HEADER.ID'|translate}}</div>
        <div class="col-sm-4">{{'PR_LIST.HEADER.TITLE'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.PROJECT'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.AUTHOR'|translate}}</div>
        <div class="col-sm-1">{{'PR_LIST.HEADER.VOTING'|translate}}</div>
        <div class="col-sm-2">{{'PR_LIST.HEADER.ACTIONS'|translate}}</div>
    </div>
</div>
