<div class="col-sm-12 pull-requests-header">
    <div class="row" ng-if="mode == 'AUTHORED'">
        <div class="col-sm-1">Id</div>
        <div class="col-sm-4">Title</div>
        <div class="col-sm-2">Project</div>
        <div class="col-sm-2">Author</div>
        <div class="col-sm-2">Progress</div>
        <div class="col-sm-1">Actions</div>
    </div>
    <div class="row" ng-if="mode == 'ASSIGNED'">
        <div class="col-sm-1">Id</div>
        <div class="col-sm-4">Title</div>
        <div class="col-sm-2">Project</div>
        <div class="col-sm-2">Author</div>
        <div class="col-sm-2">Voting</div>
        <div class="col-sm-1">Actions</div>
    </div>
</div>
