<div class="pull-request-preview">
    <div class="row">
        <div class="col-sm-12">
            <section-title icon="code">
                <span ng-bind-html="$ctrl.pr.title | emoji"></span>
            </section-title>
        </div>
        <div class="col-sm-8">
            <section class="title">
                <p class="section-label">
                    {{'PREVIEW.TITLE'|translate}}:
                </p>
                <span class="full-title" ng-bind-html="$ctrl.pr.title | emoji"></span>
            </section>

            <section class="branch-info">
                <p class="section-label">
                    {{'PREVIEW.TARGET_BRANCH'|translate}}:
                </p>
                <span class="target-branch"><i class="fa fa-code-fork"></i> {{ $ctrl.pr.targetBranch }}</span>
            </section>

            <section class="description">
                <p class="section-label">
                    {{'PREVIEW.DESCRIPTION'|translate}}:
                </p>
                <div class="content" ng-if="$ctrl.pr.description" markdown-to-html="$ctrl.pr.description | emoji"></div>
                <div class="no-content" ng-if="!$ctrl.pr.description">
                    {{'PREVIEW.NO_DESCRIPTION'|translate}}
                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="author">
                <p class="section-label">
                    {{'PREVIEW.AUTHOR'|translate}}:
                </p>
                <span class="author-name">{{ $ctrl.pr.author.displayName }}</span>
            </section>
            <section class="reviewers">
                <p class="section-label">
                    {{'PREVIEW.REVIEWERS'|translate}}:
                </p>
                <div class="reviewers-list" ng-if="$ctrl.pr.reviewers.length">
                    <reviewer r="reviewer" ng-repeat="reviewer in $ctrl.pr.reviewers | unapprovedFirst"></reviewer>
                </div>
                <div class="alert alert-warning" ng-if="!$ctrl.pr.reviewers.length">
                    <i class="fa fa-exclamation-circle"></i> {{'PREVIEW.NO_REVIEWERS'|translate}}
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="actions">
                <pull-request-link pr="pr" size="lg"></pull-request-link>
                <reminder pull-request="pr" size="lg" ng-if="!$ctrl.pr.isMergeReady()"></reminder>
            </section>
        </div>
    </div>
</div>
