<div class="pull-request-preview">
    <div class="row">
        <div class="col-sm-12">
            <section-title icon="code">
                <span ng-bind-html="pr.title | emoji"></span>
            </section-title>
        </div>
        <div class="col-sm-8">
            <section class="branch-info">
                <p class="section-label">
                    Target branch:
                </p>
                <span class="target-branch"><i class="fa fa-code-fork"></i> {{ pr.targetBranch }}</span>
            </section>

            <section class="description">
                <p class="section-label">
                    Description:
                </p>
                <div class="content" ng-if="pr.description" btf-markdown="pr.description | emoji"></div>
                <div class="no-content" ng-if="!pr.description">
                    No description
                </div>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="author">
                <p class="section-label">
                    Author:
                </p>
                <span class="author-name">{{ pr.author.displayName }}</span>
            </section>
            <section class="reviewers">
                <p class="section-label">
                    Reviewers:
                </p>
                <div class="reviewers-list" ng-if="pr.reviewers.length">
                    <reviewer r="reviewer" ng-repeat="reviewer in pr.reviewers | unapprovedFirst"></reviewer>
                </div>
                <div class="alert alert-warning" ng-if="!pr.reviewers.length">
                    <i class="fa fa-exclamation-circle"></i> No reviewers assigned
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="actions">
                <pull-request-link pr="pr" size="lg"></pull-request-link>
                <reminder pull-request="pr" size="lg" ng-if="!pr.isMergeReady()"></reminder>
            </section>
        </div>
    </div>
</div>
