<!DOCTYPE html>
<html ng-app="bitbucketNotifier">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,900,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {{css 'popup_vendor'}}
        {{css 'popup'}}
    </head>
    <body>
        <navigation-bar></navigation-bar>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 content" ui-view>
                </div>
            </div>
        </div>

        {{js 'popup_vendor'}}
        {{js 'popup'}}
        {{js 'popup_templates'}}
    </body>
</html>
