<!DOCTYPE html>
<html ng-app="bitbucketNotifier">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,900,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- build:css ../styles/vendor.css -->
        <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../../bower_components/fontawesome/css/font-awesome.css">
        <!-- endbuild -->

        <!-- build:less ../styles/styles.css -->
        <link rel="stylesheet/less" href="../../assets/less/styles.less">
        <link rel="stylesheet/less" href="../components/pull_requests_list_component/pull_requests_list_component.less">
        <link rel="stylesheet/less" href="../components/pull_requests_header_component/pull_requests_header_component.less">
        <link rel="stylesheet/less" href="../components/pull_request_component/pull_request_component.less">
        <link rel="stylesheet/less" href="../components/user_vote_component/user_vote_component.less">
        <!-- endbuild-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand bitbucket-logo" href="#">
                        <i class="fa fa-bitbucket"></i> Bitbucket Notifier
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text navbar-right">v0.0.1</p>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <pull-requests-list></pull-requests-list>
                </div>
            </div>
        </div>

        <!-- build:js ../scripts/popup.js -->
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="../../bower_components/lodash/lodash.min.js"></script>

        <script type="text/javascript" src="../../dist/components/pull_requests_list_component/pull_requests_list_component.js"></script>
        <script type="text/javascript" src="../../dist/components/user_vote_component/user_vote_component.js"></script>
        <script type="text/javascript" src="../../dist/components/pull_request_component/pull_request_component.js"></script>
        <script type="text/javascript" src="../../dist/components/pull_requests_header_component/pull_requests_header_component.js"></script>
        <script type="text/javascript" src="../../dist/components/approval_progress_component/approval_progress_component.js"></script>
        <script type="text/javascript" src="../../dist/services/models.js"></script>
        <script type="text/javascript" src="../../dist/services/repositories.js"></script>
        <script type="text/javascript" src="../../dist/services/config.js"></script>
        <script type="text/javascript" src="../../dist/filters/assigned_filter.js"></script>
        <script type="text/javascript" src="../../dist/filters/authored_filter.js"></script>

        <script type="text/javascript" src="../../dist/modules/bitbucket_notifier.js"></script>
        <!-- endbuild -->
    </body>
</html>
